<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--<meta charset="utf-8">-->
<!--<title>用户信息</title>-->
<!--</head>-->
<!--<body>-->
    <!--<form action="/search_user/" method="post">-->
        <!--{% csrf_token %}-->
        <!--<input type="text" name="q">-->
        <!--<input type="submit" value="搜索">-->
    <!--</form>-->
    <!--{%if result == '手机号码为空' %}-->
        <!--<p>{{ result }}</p>-->
    <!--{% else %}-->
        <!--<br>-->
           <!--<tr align="lift">-->
                <!--<td>用户名</td>-->
                <!--<td>用户ID</td>-->
                <!--<td>区号</td>-->
            <!--</tr>-->
        <!--</br>-->
          <!--{% for i,y,z in result %}-->
            <!--<br>-->
            <!--<tr align="lift">-->
                <!--<u>{{ i }}</u>-->
                <!--<u>{{ y }}</u>-->
                <!--<u>{{ z }}</u>-->
            <!--</tr>-->
             <!--</br>-->
    <!--{% endfor %}-->
    <!--{% endif%}-->


<!--</body>-->
<!--</html>-->
